.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.intro{
  font-family: slab;
  padding-left: 10px;
  padding-right: 10px;
}

p{
  color: green;
}

.link{
  padding-left: 10px;
}

/* App.css */

/* Grid container for images */
.images-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  background: white;
  padding: 5px;
}

.media-image, .media-video {
  width: 100%;
  height: auto;
  margin: 5px 0; /* Adjusted margin for consistency */
}

/* Responsive Pagination */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  margin: 10px;
}

.pagination a {
  text-decoration: none;
  color: black; /* Example color */
}

.pagination a.current-page {
  text-decoration: underline;
}

